<div class="ekart--product--container">
<!-- <img src="{{product.pImage}}" height="250px">-->
<img [src]="product.pImage" height="250px">
<p>Name: {{product.name}}</p>
<p>Price: ${{product.price}} </p>
<p>Color:{{product.color}} </p>
<p>Discount Price: ${{getDiscountedPrice().toFixed(2)}} </p>
<p> {{product.inStock> 0 ? 'Only '+ product.inStock +' item left':'Not in stock'}}</p>
<!-- <button [disabled]="!(product.inStock > 0)">Buy Now</button>&nbsp; -->
<button (click)="decrementCartValue()">-</button>
<span>{{addToCart}} </span>
<button (click)="incrementCartValue()">+</button>
<!-- <input [value]="name">-->
<!-- <input (input)="onNameChange($event)" [attr.aria-hidden]=""> <br>

<p>name = {{name}} </p> -->

</div>
