<div class="ekart--product--container">
<!--<img [src]="product.pImage" height="250px">
<p>Name: {{product.name}}</p>
<p>Price: ${{product.price}} </p>
<p>Color:{{product.color}} </p>
<p>Discount Price: ${{getDiscountedPrice().toFixed(2)}} </p>
<p> {{product.inStock> 0 ? 'Only '+ product.inStock +' item left':'Not in stock'}}</p>
<button (click)="decrementCartValue()">-</button>
<span>{{addToCart}} </span>
<button (click)="incrementCartValue()">+</button>
 
 <input (input)="onNameChange($event)" [attr.aria-hidden]=""> <br>

<p>name = {{name}} </p> -->
<app-search></app-search>
<div *ngFor="let item of listOfStirng">
    <p>Current element of the element is: {{item}} </p>
</div>
</div>
