<div class="ekart--search--product">
    <input class="ekart-search-product-input" [(ngModel)]="searchText">
    <button [ngClass]="{'btn':true, 'btn-search':searchText, 'btn-search-disabled':!searchText}" [disabled]="!searchText">Search</button>
</div>
<div class="ekart-search-result-for" *ngIf="searchText.length>0"><p><strong>Search result for:&nbsp;&nbsp;   </strong>{{searchText}} </p></div>
<!-- <div class="ekart-search-result-for" *ngIf="searchText !=''"><p><strong>Search result for:&nbsp;&nbsp;   </strong>{{searchText}} </p></div> -->
<!-- <div class="ekart-product-container-header"><h2>SHOES</h2></div>
<div class="ekart--products--container"></div> -->